Xft.autohint: 1
Xft.antialias: 1
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

Xcursor.theme: ATER_Blue

! just a grey on black urxvt with no bold and italic fonts
! defaults to fixed 6x13 from X
URxvt*background: #000000
URxvt*foreground: #aaaaaa
URxvt.underlineColor: #777777
URxvt.scrollBar: False
URxvt.boldFont:
URxvt.italicFont:
URxvt.boldItalicFont:

