Xft.autohint: false
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

Xcursor.theme: Adwaita

! URxvt settings
URxvt.foreground: #aaaaaa
URxvt.background: #000000

! Xterm
XTerm*utf8: 1
XTerm*metaSendsEscape: true
XTerm*selectToClipboard: true
XTerm*charClass: 0-32:1,33-126:2,127-160:3,161-255:2

XTerm*foreground: #aaaaaa
XTerm*background: #000000
XTerm*color0: #222222

