#This work is licensed under a Creative Commons Attribution-Share Alike 3.0 License.
#(http://creativecommons.org/licenses/by-sa/3.0/de/deed.en)



###############################################################################
#
# name: bora_black
# made: tenner
# date: 18-09-2007
# http://www.tenr.de
#
############################################################## MENU ###########

menu.bevelWidth:				1

#menu.itemHeight:				35
#menu.titleHeight:				21
menu.borderColor:				#525252
menu.borderWidth:				1

menu.bullet:					triangle
menu.bullet.position:				Right
menu.frame.underlineColor:			#ffffff

menu.title:					flat
menu.title.justify:				center
menu.title.color:				#525252
menu.title.textColor:				#525252

menu.frame:					flat
menu.frame.justify:				left
menu.frame.color:				#1f1f1f
menu.frame.colorTo:				#505050
menu.frame.textColor:				#ffffff
menu.frame.disableColor:			#888888

menu.hilite:					bevel1 gradient vertical
menu.hilite.color:				#636363
menu.hilite.colorTo:				#636363
menu.hilite.textColor:				#ffffff

############################################################## TOOLBAR ########

toolbar.bevelWidth:				0

toolbar.borderWidth:				1
toolbar.borderColor:				#1f1f1f

toolbar.height:					18

toolbar.justify:				center

toolbar:					flat
toolbar.pixmap:
toolbar.color:					#1f1f1f
toolbar.colorTo:				#505050

toolbar.clock:					parentrelative
toolbar.clock.justify:				center
toolbar.clock.color:				#
toolbar.clock.colorTo:				#
toolbar.clock.textColor:			#e7e7e7

toolbar.workspace:				parentrelative
toolbar.workspace.justify:			Center
toolbar.workspace.color:			#
toolbar.workspace.colorTo:			#
toolbar.workspace.textColor:			#e7e7e7

toolbar.button:					parentrelative
toolbar.button.color:				#
toolbar.button.colorTo:				#
toolbar.button.picColor:			#e7e7e7
toolbar.button.pressed:				parentrelative
toolbar.button.pressed.color:			#
toolbar.button.pressed.colorTo:			#
toolbar.button.pressed.picColor:		#000000

toolbar.iconbar.borderWidth:			1
toolbar.iconbar.borderColor:			#1f1f1f

toolbar.iconbar.empty:				parentrelative
toolbar.iconbar.empty.color:			#
toolbar.iconbar.empty.colorTo:			#

toolbar.iconbar.focused.borderWidth:		1
toolbar.iconbar.focused.borderColor:		#1f1f1f
toolbar.iconbar.focused:			bevel1 gradient vertical
toolbar.iconbar.focused.color:			#1f1f1f
toolbar.iconbar.focused.colorTo:		#505050
toolbar.iconbar.focused.textColor:		#e7e7e7
toolbar.iconbar.focused.justify:		left

toolbar.iconbar.unfocused.borderWidth:		1
toolbar.iconbar.unfocused.borderColor:		#525252
toolbar.iconbar.unfocused:			bevel1 gradient vertical
toolbar.iconbar.unfocused.color:		#2b2b2b
toolbar.iconbar.unfocused.colorTo:		#383838
toolbar.iconbar.unfocused.textColor:		#888888
toolbar.iconbar.unfocused.justify:		left

############################################################## WINDOW #########

#window.roundCorners: TopRight TopLeft
window.bevelWidth:				1
window.shade:					false
window.borderWidth:				1
window.borderColor:				#525252

window.justify:					Left

window.title.height:				18

window.title.focus:				bevel2 gradient vertical
window.title.focus.color:			#505050
window.title.focus.colorTo:			#1f1f1f
window.title.unfocus:				bevel2 gradient vertical
window.title.unfocus.color:			#383838
window.title.unfocus.colorTo:			#2b2b2b

window.label.focus:				parentrelative
window.label.focus.color:			#
window.label.focus.colorTo:			#
window.label.focus.textColor:			#e7e7e7
window.label.unfocus:				parentrelative
window.label.unfocus.color:			#
window.label.unfocus.colorTo:			#
window.label.unfocus.textColor:			#888888


window.shade.pixmap:rollup.xpm
window.shade.unfocus.pixmap:rollup.xpm
window.shade.pressed.pixmap:rollup.xpm

window.unshade.pixmap:rolldown.xpm
window.unshade.unfocus.pixmap:rolldown.xpm
window.unshade.pressed.pixmap:rolldown.xpm

window.menuicon.pixmap:menu.xpm
window.menuicon.unfocus.pixmap:menu.xpm
window.menuicon.pressed.pixmap:menu.xpm

window.close.pixmap: close.xpm
window.close.unfocus.pixmap: close.xpm
window.close.pressed.pixmap: close.xpm

window.iconify.pixmap: min.xpm
window.iconify.unfocus.pixmap: min.xpm
window.iconify.pressed.pixmap: min.xpm

window.maximize.pixmap:	max.xpm
window.maximize.unfocus.pixmap: max.xpm
window.maximize.pressed.pixmap:	max.xpm

window.stick.pixmap: stick.xpm
window.stick.unfocus.pixmap: stick.xpm
window.stick.pressed.pixmap: stick.xpm

window.stuck.pixmap: stuck.xpm
window.stuck.unfocus.pixmap: stuck.xpm
window.stuck.pressed.pixmap: stuck.xpm

window.handle.focus:				flat
window.handle.focus.color:			#1f1f1f
window.handle.focus.colorTo:			#1f1f1f
window.handle.unfocus:				flat
window.handle.unfocus.color:			#1f1f1f
window.handle.unfocus.colorTo:			#1f1f1f
window.handleWidth:				1

window.grip.focus:				flat
window.grip.focus.color:			#525252
window.grip.focus.colorTo:			#525252
window.grip.unfocus:				flat
window.grip.unfocus.color:			#1f1f1f
window.grip.unfocus.colorTo:			#1f1f1f

###############################################################################
# EOF
